<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <h2>Username: {{username}}</h2>
    {% if request.user.is_authenticated %}
        {% if request.user.is_staff %}
            <form method="post" action="/vacancy/new">{% csrf_token %}
                <label for="desc_vacancy">Description</label>
                <input id="desc_vacancy" name="description" type="text" required>
                <button type="submit">Post Vacancy</button>
            </form>
        {% else %}
            <form method="post" action="/resume/new">{% csrf_token %}
                <label for="desc_resume" >Description</label>
                <input id="desc_resume" name="description" type="text" required>
                <button type="submit">Post Resume</button>
            </form>
        {% endif %}
        <div><a href="/">Back</a></div>
    {% else %}
        <div><a href="/login">Login</a></div>
    {% endif %}
</body>
</html>